<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Classifier</title>
    <link rel="stylesheet" href="../styles/style.css"/>
</head>
<body>
<div class="container">
    <h1>Food Calories</h1>

    <label class="file-label">
        <input type="file" id="fileInput" accept="image/*"/>
        Choose Image
    </label>
    <a href="https://github.com" target="_blank">
        <label class="gh-button">
            GitHub
        </label>
    </a>

    <a href="https://10hubs10labs.vercel.app/" target="_blank">
        <label class="hl-button">
            10HL
        </label>
    </a>

    <div class="image-wrapper">
        <img id="preview" src="#" alt="Preview"/>
    </div>

    <div id="result" class="result"></div>
</div>

<script>
    const fileInput = document.getElementById("fileInput");
    const preview = document.getElementById("preview");
    const result = document.getElementById("result");

    fileInput.addEventListener("change", async () => {
        const file = fileInput.files[0];
        if (!file) return;

        const reader = new FileReader();
        reader.onload = () => {
            preview.src = reader.result;
            preview.style.display = "block";
        };
        reader.readAsDataURL(file);

        const formData = new FormData();
        formData.append("file", file);

        result.innerHTML = "<p>Predicting...</p>";

        const response = await fetch("/predict/", {
            method: "POST",
            body: formData
        });

        const data = await response.json();

        function formatKey(key) {
            return key
                .split("_")
                .map(word => word.charAt(0).toUpperCase() + word.slice(1))
                .join(" ");
        }

        result.innerHTML = `
        Predicted Food: <strong>${formatKey(data.predicted_label[0].toLocaleUpperCase() + data.predicted_label.slice(1))}</strong>
        <br><br>
        <table style="width:100%; border-collapse: collapse;">
          ${Object.entries(data.nutrition).map(
            ([key, value]) =>
                `<tr style="border-bottom: 1px solid #444;">
                 <td style="padding: 8px; color: #ccc;">${formatKey(key)}</td>
                 <td style="padding: 8px; color: #fff; text-align:right;">${value}</td>
              </tr>`
        ).join("")}
        </table>
      `;
    });
</script>
</body>
</html>
